body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', "Arial", sans-serif;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/top background.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header  {
background-color: #f3f7f9;
background-image: url("../img/header top background.jpg");
background-position: 0 0;
background-repeat: repeat;
}

.main-header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  background-image: url("../img/header-top-bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.busket-button {
  list-style: none;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.main-header-top a,
.main-header-middle a {
  list-style: none;
}

.header-tools-button {
  list-style: none;
}

.header-tools-button a:hover,
.search:hover {
  background-color: #212a3a;
}

.search:active {
  background-color: #293449;
}

.header-tools-button a:active {
  background-color: #161d29;
}

.make-order a {
  display: block;
  padding: 13px 21px;
  color: #ffffff;

  background-color: #63a63e;
}

.make-order a:hover {
  background-color: #5fbb2d;
}

.make-order a:active {
  background-color: #518534;
}

.main-header-middle h1 {
  font-family: 'Cuprum', "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  color: #ee3643;
}

.main-header-search input[type="search"] {
  display: block;
  box-sizing: border-box;
  margin-top: -33px;
  margin-left: 0;

  width: 266px;
  height: 42px;
  outline: none;
  border: none;
  background-color: #293449;
  padding-left: 49px;
}

.main-header-search input[type="search"]:focus,
.main-header-search input[type="search"]:active {
  background-color: #ffffff;
}

.main-header-search svg {
  margin-left: 16px;
  fill: #5f6777;
}

.main-header-search svg:hover,
.main-header-search svg:focus {
  opacity: 0.5;
}

.main-header-search svg:active {
  fill: #ee3643;
}

.main-header-search form {
  display: block;
  margin: 0;
  padding: 12px 0;
}

 input::placeholder {
  color: #ffffff;
}

/*input::placeholder:hover {
  color: #ffffff;
}*/

.login-link a {
  position: relative;
  display: block;
  width: 114px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding: 12px 0;
  padding-left: 10px;
}

.check-in a {
  display: block;
  width: 150px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding: 10px 0;
}

.check-in {
  margin: 0;
  padding: 2px 0;
}

.login-link a:hover,
.check-in a:hover {
  color: #ee3643;
}

.login-link svg {
  position: absolute;
  top: 12px;
  left: 21px;

  width: 20px;
  height: 20px;

  fill:#c5c5c5;
}

.login-link svg:hover {
  fill:#32425c;
}

.login-link a:active,
.check-in a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.bookmarks a,
.busket a {
  display: block;
  box-sizing: border-box;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 45px;
  padding-right: 28px;
  margin: 0;
  color: #ffffff;
  background-color: #293449;
}

.full a {
  box-sizing: border-box;

  background-color: #ee3643;
}

.bookmarks a:hover,
.busket a:hover {
  background-color: #212a3a;
}

.bookmarks a:active,
.busket a:active {
  background-color: #161d29;
}

.bookmarks svg,
.busket svg {
  position: absolute;
  top: 13px;
  left: 10px;

  width: 16px;
  height: 15px;
  fill: #6a7180;
}

.full svg {
  fill: #f3737c;
}

.bookmarks svg:hover,
.busket svg:hover {
  fill: #ffffff;
  opacity: 1;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.phone-wrapper {
  width: 260px;
  margin: 0;
}

.phone {
  position: relative;
  display: block;
  margin-left: -25px;
  padding: 10px;
  padding-left: 75px;
  list-style: none;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;

  border: 3px solid white;
}

.phone svg {
  position: absolute;
  top:10px;
  left: 11px;

  width: 20px;
  height: 20px;
}

.main-navigation {
  background-color: #32425c;
  background-image: url("../img/header-top-bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-sizing: border-box;
  box-shadow: 0 13px 0 0 #293449;
  padding: 0;
  max-height: 47px;
}

.personal-account-action  {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.user-info {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 21px;
  font-family:'Cuprum', "Arial", sans-serif;
  color: #000000;
  margin: 0;
  padding: 12px 55px 12px 40px;
}

.personal-account-action b:active {
  color: rgba(0, 0, 0, 0.5);
}

.user-info svg {
  position: absolute;
  top: 12px;
  left: 10px;

  width: 20px;
  height: 20px;

  fill: #c5c5c5;
}

.user-info svg:hover {
  opacity: 1;
  fill: #000000;
}

.user-info svg:focus {
  fill: #000000;
}

.user-info svg:active {
  opacity: 1;
}

.main-pictures-info {
  margin-top: 60px;
  margin-bottom: 31px;
  padding: 0;
  max-height: 438px;
}

.main-pictures-info .main-info-tags-up {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-pictures-info .main-info-tags-down {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-pictures-info li {
  position: relative;
  display: block;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  padding: 23px;

  width: 254px;
  max-height: 80px;
}

.main-pictures-info a {
  display: block;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 14px;
  padding: 7px 0;
  border-radius: 3px;
  max-width: 134px;

  text-align: center;
}

.main-pictures-info svg {
  content: "";
  position: absolute;
  top: 30px;
  right: 28px;

  width: 80px;
  height: 60px;
}

.slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.slider-container {
  position: relative;
  width: 620px;
  margin-right: 20px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 24px;
  z-index: 100;

  width: 160px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;

  width: 10px;
  height: 10px;
  padding: 5px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 12px;
  height: 12px;

  background: #ffffff;

  border-radius: 50%;
}


.slider-item {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
}

.slider-item:nth-child(1) {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.slider-item:nth-child(2) {
  width: 100%;
  height: auto;
  display: none;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;

  background-color: #ee3643;
  border: none;
  border-radius: 50%;
}

.button-left {
  position: absolute;
  top: 110px;
  left: 25px;
  z-index: 2;

  width: 25px;
  height: 42px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.button-right {
  position: absolute;
  top: 110px;
  right: 20px;
  z-index: 2;

  width: 25px;
  height: 42px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;

  cursor: pointer;
}


.slider-list {
  position: relative;
  max-width: 620px;
  height: 265px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-list img {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}

.slider-item a {
  position: absolute;
  top: 211px;
  left: 29px;

  display: inline-block;
  width: 130px;
  text-align: center;
  margin: -4px;
  padding: 10px 33px;

  z-index: 2;

  background-color: #ee3643;

  cursor: pointer;
}

.slider-item a:hover {
  background-color: #ca2c37;
}

.slider-item a:active {
  background-color: #ba2732;
}

.materials .flag-main {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.materials .flag-new-main {
  background: url("../img/new flag.png") no-repeat 0 0;
}

.main-info-tags-up a:hover,
.main-info-tags-down a:hover {
  background-color: #cccccc;
}

.main-info-tags-up a:active,
.main-info-tags-down a:active {
  background-color: #b2b2b2;
}

.main-pictures-info .materials {
  background-color: #ffbf47;
  margin-right: 20px;

}

.materials a {
  background-color: #e5ac40;
}

.main-pictures-info .tools {
  background-color: #3bbce3;
  margin-right: 20px;
}

.tools a {
  background-color: #35a9cc;
}

.main-pictures-info .technique {
  background-color: #dc91d8;
  margin-right: 0;
}

.technique a {
  background-color: #c682c2
}

.main-pictures-info .sales {
  background-color: #8ed78f;
}

.sales a {
  background-color: #80c180;
}

.main-pictures-info .delivery {
  background-color: #ffc047;
}

.delivery a {
  background-color: #e5ac40;
}

.main-popular-items {
  position: relative;
  margin: 0;
  padding: 0;
}

.popular-items-all,
.popular-items-all-manufactures {
  display: block;
  content: "";
  position: absolute;
  top: 27px;
  right: 14px;

  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-right: 19px;
  padding: 10px 55px;

  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  border-radius: 3px;
}

.popular-items-all-manufactures {
  width: 140px;
  margin-right: 12px;
}

.manufact-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.manufact-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 144px;
  margin-bottom: 20px;
  margin-right: 20px;

  border: 1px solid #cccccc;
}

.manufact-list li:hover {
box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.8);
}

.manufact-list li:nth-child(4n) {
  margin-right: 0;
}

.manufact-list img {
  display: block;
  margin: auto;
}

.main-services h3 {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 25px;
  padding-top: 65px;
  text-transform: uppercase;
}

.main-services ul {
  margin: 0;
  margin-right: 80px;
  padding: 0;
  list-style: none;
}

.main-services li {
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #32425c;
  width: 240px;
  height: 64px;

  background-color: #32425c;
}

.main-services li:hover {
  background-color: #293449;
}

.main-services li:active {
  background-color: #ffffff;
}

.main-services-menu a:active {
  background-color: #ffffff;
  border: none;
}

.main-services a {
  display: block;
  color: #ffffff;
  margin: 0;
  padding: 18px 22px;
}

.main-services a:active {
  color: #000000;
}

.main-services-credit-wrapper a {
  display: block;
  content: "";
  position: absolute;
  top: 145px;
  left: 319px;

  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 10px 10px;

  width: 170px;

  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.main-services .delivery-info,
.main-services .garanty-info,
.main-services .credit-info  {
  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  text-transform: uppercase;
}
.main-services-delivery-wrapper,
.main-services-garanty-wrapper,
.main-services-credit-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-height: 188px;
}

.main-services-delivery-wrapper {
  display: block;
}

.main-services-garanty-wrapper {
  display: none;
}

.main-services-credit-wrapper {
  display: none;
}

.main-services p {
  display: inline-block;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  margin: 0;
  padding-bottom: 67px;
}

.main-services {
  background-color: #f4f8f9;
}

.main-services-menu {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-bottom: 95px;

}

.delivery-car-slide {
  content: "";
  position: absolute;
  top: 22px;
  right: 0;

  width: 465px;
  height: 265px;
}

.credit-car-slide {
  content: "";
  position: absolute;
  top: 22px;
  right: 0;

  width: 465px;
  height: 265px;
}

.garanty-car-slide {
  content: "";
  position: absolute;
  top: 22px;
  right: 0;

  width: 400px;
  height: 250px;
}

.personal-account-exit {
  position: absolute;
  width: 20px;
  height: 20px;

  top: 14px;
  right: 10px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.personal-account-exit svg {
  fill: #c5c5c5;
}

.personal-account-exit svg:hover,
.personal-account-exit svg:focus {
  fill: #000000;
}

.personal-account-exit svg:active,
.user-info svg:active {
  fill: #c5c5c5;
}

.my-orders a,
.personal-account a {
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  line-height: 18px;

  color: #32425c;

  text-decoration: underline;
}

.my-orders a:hover,
.personal-account a:hover {
  color: #ee3643;
}

.my-orders a:active,
.personal-account a:active {
  color: rgba(50, 66, 92, 0.5);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.site-navigation a:hover {
  background-color: #161d29;
}

.site-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
}

.page-title {
  display: inline-block;
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  padding: 32px 0 30px 29px;
  margin: 0;
  margin-bottom: 20px;
  width: 910px;

  background-color: #f2f6f8;
}

.address {
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-left: -15px;

  color: #32425c;
}

.main-about-us {
  list-style: none;
  min-height: 372px;
  margin-bottom: 87px;
}

.main-about-us p {
  display: block;
}

.main-about-us p:first-child {
  margin-bottom: 37px;
}

.contacts-map {
  align-self: flex-start;
  width: 300px;
  min-height: 372px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.contacts-map img {
  width: 300px;
  height: 160px;
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
}

.main-about-us h2,
.contacts-map h2 {
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.main-about-us p {
  font-family: 'Cuprum', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
}

.main-about-us-list {
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.main-about-us-list li {
  position: relative;
  display: block;
  margin: 0;
  padding:0;
  padding-left: 35px;
  margin-bottom: 20px;
}

.main-about-us-list li:last-child {
  padding: 0;
  padding-left: 35px;
}

.main-about-us-list li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;

  width: 26px;
  height: 9px;

  background-image: url(../img/red-direction.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-about-us a {
  display: inline-block;

  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 3px;

  background-color: #ee3643;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding-left: 5px;
}

.breadcrumbs a:last-child {
  margin: 0;
  padding: 0;
}


.filters-toolbar {
  display: flex;
  height: 38px;
  margin-bottom: 10px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters h3 {
  display: block;
  height: 38px;
  margin-top: 10px;
  margin-left: 19px;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.fieldset {
  border: none;
}

.filters legend {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  margin-bottom: 16px;
}

fieldset ul {
  list-style: none;
}

.filter-option {
font-family: 'PT Sans', sans-serif;
font-weight: normal;
font-size: 17px;
line-height: 20px;
color: #000000;
}

.catalog-items {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e5e5e5;
}

.catalog-category,
.category-item-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.old-price {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #999999;

  text-decoration: line-through;
}

.catalog-item-price b {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
  background-image: url("../img/btn copy 14.png");
  background-repeat: no-repeat;
}

/* .button-buy {
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: 0 1px #367315;

  fill: #92c178;
}

.button-buy:hover {
  background-color: #5fbb2d;
  box-shadow: 0 1px #367315;

  fill: #ffffff;
}

.button-buy:active {
  background-color: #518534;
  box-shadow: 0;
}

.button-postpone {
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #63a63e;
}

.button-postpone:hover {
  border: 2px solid #000000;
}

.button-postpone:active {
  opacity: .5;
} */

.contacts-map h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.contacts-map p {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.contact-us {
  display: inline-block;
  padding: 10px 60px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;

  background-color: #ee3643;
}

.main-footer {
  background-color: #32425c;
  background-image: url("../img/footer-bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-navigation,
.footer-navigation-items {
  list-style: none;
}

.footer-navigation a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-navigation a:hover,
.footer-navigation-items a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-navigation-items a:active {
  text-decoration: none;
  opacity: .5;
}

.footer-contacts {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation-items a {
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.main-footer-bottom {
  background-color: #293449;
  background-image: url("../img/header-top-bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-copyright-1 {
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social ul {
  list-style: none;

  /*width: 135px;
  padding: 0;
  margin: 0;*/
}

.social-button svg:hover,
.social-button svg:active {
  background-color: #ee3643;
}

.footer-feedback b,
 .footer-copyright-2 b {
  font-family: 'Cuprum', "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-feedback a,
 .footer-copyright-2 a {
   font-family: 'Cuprum', "Arial", sans-serif;
   font-size: 16px;
   line-height: 18px;
   color: #ffd180;
 }

 .footer-feedback a:hover,
.footer-copyright-2 a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright-2 a:active {
  color: #ee3643;
  text-decoration: none;
}

/*Сеточные стили*/

.main-header {
  padding: 0;
  padding-bottom: 74px;
}

.main-header-top {
  display: flex;
  width: 100%;
  min-height: 43px;
  margin-bottom: 45px;
}

.main-header-logo svg {
  width: 220px;
  height: 47px;
  padding-top: 18px;
  padding-bottom: 12px;
  box-sizing: border-box;
  text-align: center;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.main-footer-logo {
  display: block;
  margin: 0;
  padding: 0;
}

.main-footer-logo svg {
  width: 220px;
  height: 62px;
  margin: 0;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.main-header-logo svg:hover,
.main-footer-logo svg:hover {
  background-color: #ca2c37;
}

.main-header-logo svg:active,
.main-footer-logo svg:active {
  background-color: #ba2732;
}

.header-tools-button {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 460px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 940px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li:first-child {
  padding-left: 28px;
}

.site-navigation li:last-child {
  padding-right: 28px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 41px;
}

.main-header-middle {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.header-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 550px;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}

.user-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  align-self: flex-start;
}

.user-navigation .login-link {
  margin-right: 10px;
}

.main-about-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 82px;
}

.main-footer-nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-footer-nav {
  display: flex;
  width: 100%;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  width: 550px;
  margin-top: 37px;
  padding: 0;
}

.main-footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  margin-bottom: 50px;
}

.footer-navigation-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  width: 525px;
  padding: 0;
  margin: 0;
}

.footer-contacts p {
  width: 335px;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.main-footer-bottom {
  display: flex;
  width: 100%;
  margin: 0;
}

.main-footer-bottom-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 107px;
}

.footer-social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  width: 135px;
  padding: 0;
  margin: 0;
}

.footer-copyright-wrapper {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.footer-copyright-1 {
  padding: 0;
  margin: 0;
}

.footer-copyright-2 {

  width: 100px;
  padding: 0;
  margin: 0;
  margin-right: 13px;
}

.footer-feedback {
  width: 140px;
  padding: 0;
  margin: 0;
}

.main-header-search {

  max-width: 270px;
  height: 41px;;
  padding: 0;
  margin: 0;

}

.login-link:hover .login-link::before {
  fill: #32425c;
}

.user-navigation-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  margin: 0;
  margin-left: auto;
}

.user-navigation-catalog {
  /* display: flex;
  justify-content: space-around;

  max-width: 300px; */
  margin: 0;
  margin-left: auto;
  margin-bottom: 5px;
  padding: 0;

  list-style: none;
}

.user-navigation-actions {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.my-orders {
  margin-right: 35px;
  padding-left: 10px;
}

.personal-account {
  position: relative;
}

.personal-account::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -19px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.breadcrumbs {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 18px;
  padding: 0px;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  margin-right: 41px;
}

.breadcrumbs li svg  {
  content: "";

  position: absolute;
  top: 5px;
  right: -27px;

  width: 15px;
  height: 15px;
}

.breadcrumbs svg:first-child {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;

  top: -6px;
  left: 0;
}

.breadcrumbs .right-direction {
  content: "";
  position: absolute;
  top: 5px;
  left: -18px;

  width: 10px;
  height: 12px;

  margin: 0;
  padding: 0;
}

.site-navigation a {
  display: block;
  text-align: center;

  margin: auto;
  padding: 29px;
  padding-top: 20px;
  padding-bottom: 23px;
}

.price-scale {
  position: relative;
  display: flex;
  height: 80px;
  margin-bottom: 10px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter {
  width: 220px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

fieldset:last-child {
  margin-bottom: 40px;
}

fieldset ul {
  padding: 0;
  margin: 0;
  border: none;
}

.price-scale .scale-range-gray {
  position: absolute;
  content: "";
  top: 50%;
  left: 20px;

  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.price-scale .scale-range-green {
  position: absolute;
  content: "";
  top: 50%;
  left: 20px;

  width: 160px;
  height: 2px;

  background-color: #00ca74;
}

.range-circle-first {
  content: "";
  position: absolute;
  top: 30px;
  left: 20px;

  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 2px 5px #ceb3b3;

  cursor: pointer;
}
.range-circle-second {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;

  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 2px 5px #ceb3b3;

  cursor: pointer;
}

.range-circle-inside-first {
  content: "";
  position: absolute;
  top: 38px;
  left: 28px;

  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50px;
}

.range-circle-inside-second {
  content: "";
  position: absolute;
  top: 38px;
  right: 48px;

  width: 4px;
  height: 4px;
  background-color: #ceb3b3;
  border-radius: 50px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 33px;
  position: relative;

  display: block;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  opacity: 0.5;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 25px;
  height: 25px;

  opacity: 0.5;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 25px;
  height: 25px;

  opacity: 0.5;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 25px;
  height: 25px;

  opacity: 0.5;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-toolbar {
  display: flex;
  height: 38px;
  margin-bottom: 20px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.catalog-toolbar h3 {
  display: block;
  margin-top: 10px;
  margin-left: 19px;
  margin-right: 105px;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-toolbar-sorting {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 0;
  margin-left: 10px;
  padding: 0;

  list-style: none;
}

.catalog-items-list {
  list-style: none;
}

.catalog-toolbar-sorting li:first-child {
  margin-right: 40px;
}

.catalog-toolbar-sorting li:nth-child(3) {
  margin-left: 20px;
}

.catalog-toolbar-sorting a:first-child,
.catalog-toolbar-sorting a:last-child {
  padding-left: 10px;
}

.catalog-toolbar-sorting a {
  display: inline-block;
  margin-top: 12px;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  text-decoration: underline dotted #ee3643;

  /* background-color: red; */
}

.catalog-toolbar-sorting a:hover {
  opacity: 1;
  text-decoration: underline solid #ee3643;
}

.catalog-toolbar-sorting a:focus,
.catalog-toolbar-sorting a:active {
  color: #ee3643;
  text-decoration: none;
  opacity: 1;
}

.direction-up svg:hover,
.direction-down svg:hover {
  fill: #000000;
}

.direction-up svg:focus,
.direction-down svg:focus {
  fill: #000000;
}

.direction-up svg:active,
.direction-down svg:active {
  fill: #ee3643;
}

.catalog-toolbar-sorting .direction-up {
  margin-right: 20px;
}

.direction-up svg {
  position: absolute;
  top: 13px;
  right: 48px;

  width: 12px;
  height: 12px;
}

.direction-down svg {
  position: absolute;
  top: 13px;
  right: 17px;

  width: 12px;
  height: 12px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  max-height: 316px;
  margin-bottom: 20px;
  margin-right: 20px;

  line-height: 18px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #cccccc;
}

.catalog-item:hover {
  box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.8);
}

.catalog-item h3 {
  margin: 0;
  padding: 0;
}

.catalog-item-image {
  margin: 0;
  padding: 0;
}

.catalog-items-list-main .main-2000 {
  margin-left: 20px;
  margin-right: 0;
}

.catalog-items-list-main .main-6000 {
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  position: relative;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .actions .buy:active,
.catalog-item .actions .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
  border-color: #32425c;
}

.catalog-item .actions .bookmark:active {
  border-color: #c1c6ce;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.actions svg {
  position: absolute;

  left: 10px;
  fill: #92c178;
}

.actions svg:hover,
.actions svg:focus {
  fill: #ffffff;
}

.catalog-item-image img {
  width: 218px;
  height: 175px;
}

.catalog-item {
  font-size: 16px;
}

.catalog-items-list-main {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 0;

  list-style: none;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;

  list-style: none;
}

.catalog-item .title {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  min-height: 40px;
  padding: 0;
  margin-bottom: 11px;
}

.catalog-item .discount {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  min-height: 20px;

  margin-top: 3px;
  margin-bottom: 7px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 9px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
  cursor: pointer;
}

.catalog-item .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-colums-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-colums-wrapper .catalog {
  margin-bottom: 62px;
  max-width: 700px;
}

.filters {
  width: 220px;
  margin-right: 20px;
}

.fieldset-price {
  border-bottom: 1px solid #c5c5c5;
}

.scale-sum {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  padding: 0;

  max-height: 38px;

  list-style: none;
}

.scale-sum .min-sum {
  margin-right: 30px;
}

.scale-sum input {
  box-sizing: border-box;

  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #f7f3ec;
  border-radius: 3px;
  border: none;
}

fieldset {
  border: none;
}

.filter fieldset:first-child  {
  border-bottom: 1px solid #c5c5c5;
}

.filter-button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;

  width: 140px;
  margin-top: 41px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.footer-social ul {
  display: flex;
  width: 133px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-right: 70px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.button {
  display: inline-block;
  margin-right: 3px;
  padding: 7px 16px;

  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.gallery-button-first {
  padding: 8px 18px;
}

.gallery-button-next {
  padding: 7px 32px;
}

.button .disabled,
.button:disabled {
  cursor: default;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.button:active {
  border-color: #ee3643;
}

.catalog-list-info{
  background-color: #f2f6f8;
}

.catalog-list-info h2 {
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 26px;
}

.catalog-list-info p {
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 68px;
}

.modal {
  display: none;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 18px;

  position: fixed;
  color: #000000;
  background-color: #ffffff;
  border-top: 10px solid #ff5358;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.modal-show {
  display: block;
}

.modal-question {
  top: 120px;
  left: 50%;

  width: 620px;
  margin-left: -390px;

}

.modal-close {
  position: absolute;
  top: 15px;
  right: 10px;

  width: 30px;
  height: 30px;

  font-size: 0;

  border: 0;
  background-color: transparent;

  cursor: pointer;
}

.map-close {
  top: 0;
  right: -30px;

  z-index: 2;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  right: 0;

  width: 30px;
  height: 5px;

  background-color: #ee3643;
  border-radius: 3px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.buton-submit-wrapper {
  padding: 37px 0;

  background-color: #f4f4f4;

}

.buton-submit-wrapper button {
  display: block;
  color: #ffffff;
  text-align: center;

  margin: 0 auto;
  padding: 10px 195px;

  border: none;
  border-radius: 3px;

  background-color: #ee3643;
}

.question {
  padding: 50px 80px 0;
}

.question input:hover {
  border-color: #b5b5b5;
}

.question input:focus {
  border-color: #ee3643;
}

.question-wrapper input {
  box-sizing: border-box;

  width: 220px;
  padding: 10px;

  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #d7dcde;
}

.question textarea {
  box-sizing: border-box;

  width: 100%;
  padding: 10px;

  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #d7dcde;
}

.question textarea:hover {
  border-color: #b5b5b5;
}

.question textarea:focus {
  border-color: #ee3643;
}

.question textarea::placeholder {
  color: #a9a9a9;
}

.question-wrapper label {
  display: block;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 18px;

}

.question-wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.question input::placeholder {
  color: #a9a9a9;
}

.modal-map {
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -470px;

  width: 940px;
  height: 450px;
  border: none;
  box-shadow: none;
  padding: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-added-goods {
  display: none;
  width: 530px;

  top: 50%;
  left: 50%;

  margin-top: -250px;
  margin-left: -360px;

  padding: 56px 82px;
}

.modal-added-goods h2 {
  position: relative;

  font: inherit;
  font-size: 30px;
  line-break: 30px;

  margin-bottom: 50px;

  text-align: center;
}

.modal-added-goods img {
  content: "";
  position: absolute;
  top: 50px;
  left: 95px;

}

.modal-functions {
  display: flex;
  justify-content: space-around;
  width: 100%;

  padding: 20px 0;

  background-color: #f1f1f1;
}

.modal-added-goods .get-order {
  display: block;

  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  padding: 10px 60px;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.modal-added-goods .continue-shoping {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
  border: none;
  border-radius: 3px;

  padding: 10px 60px;
}
